from: https://hub.gke.mybinder.org/user/kotlin-kotlin-jupyter-kfc4zivr/notebooks/samples/Titanic.ipynb

In [1]:
%use dataframe, khttp

In [2]:
val response = khttp.get("http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt")
val cleanedText = response.text.replace("\"Molly\"", "Molly").replace("row.names", "row").replace("home.dest", "home")

In [3]:
// convert data to dataframe, generate marker interface for typed data frame wrapper and extension properties for it
val df = DataFrame.readDelim(cleanedText.byteInputStream())

In [8]:
df

A DataFrame: 1313 x 11
     row   pclass   survived                                              name     age
 1     1      1st          1                      Allen, Miss Elisabeth Walton      29
 2     2      1st          0                       Allison, Miss Helen Loraine       2
 3     3      1st          0               Allison, Mr Hudson Joshua Creighton      30
 4     4      1st          0   Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)      25
 5     5      1st          1                     Allison, Master Hudson Trevor   0.917
 6     6      1st          1                                Anderson, Mr Harry      47
 7     7      1st          1                  Andrews, Miss Kornelia Theodosia      63
 8     8      1st          0                            Andrews, Mr Thomas, jr      39
 9     9      1st          1      Appleton, Mrs Edward Dale (Charlotte Lamson)      58
10    10      1st          0                            Artagaveytia, Mr Ramon      71
and 1303 more rows, and and 6 more variables: home, room, ticket, boat, sex

In [9]:
// get typed column as extension property
df.name

Line_19.jupyter.kts (2:4 - 8) Unresolved reference: name

In [7]:
// select single column -> returns DataFrame
df.select{name}

Line_17.jupyter.kts (2:10 - 16) Type mismatch: inferred type is Unit but List<Boolean?> was expected
Line_17.jupyter.kts (2:11 - 15) Unresolved reference: name

In [6]:
// select several columns
df.select{columns(name, age, embarked)}

Line_15.jupyter.kts (2:10 - 40) Type mismatch: inferred type is Unit but List<Boolean?> was expected
Line_15.jupyter.kts (2:11 - 18) Unresolved reference: columns
Line_15.jupyter.kts (2:19 - 23) Unresolved reference: name
Line_15.jupyter.kts (2:25 - 28) Unresolved reference: age
Line_15.jupyter.kts (2:30 - 38) Unresolved reference: embarked